<div class="container-fluid">
  <div class="col-md-6">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <div class="form-horizontal">
            <legend class="text-primary">Edit Post</legend>
            <div class="control-group">
              <%= render 'form' %>

              <%= link_to 'Show', @post %> |
              <%= link_to 'Back', posts_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
